<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./gallery">Gallery</a></li>
        </ul>
    </nav>

    <main>
        <h1>COFFEE</h1>

        <p>
            Do we love coffee because we are addicted to it, or because coffee’s chemical makeup makes sense for our body? 
            Coffee is not a pleasant tasting experience for almost anybody on the first try. 
            Many people just hate the taste. However, coffee contains a lot of antioxidants, and caffeine, the much needed “pick-me-up”. 
            Could this be the reason we end up “loving it”? Or is just the addiction?
        </p>

        <p>
            Coffee, the beverage, is the result of brewing the roasted and ground coffee beans.

        </p>

        <p>
            Coffee beans are the pits of the coffee tree fruit.
        </p>

        <p>
            The coffee tree, (Coffea), is an evergreen, a small tree or a shrub, that grows in the tropical climate region. 
            The coffee beans are actually not beans, they are the pits removed from the coffee cherries.
            Coffee is a natural stimulant creating a mild addiction and is associated with many health benefits. 
            However, the abuse of coffee can result in many health problems.
            The beverage brewed from the coffee beans is one of the most appreciated in the world and it makes an important export percentage of many countries.
            Caffeine is a coffee extract and it is very widely used in the pharmaceutical industry.
        </p>

        <img src="/images/back-coffee.jpg" alt="cup of coffee">
    </main>
</body>
</html>