<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./gallery">Gallery</a></li>
        </ul>
    </nav>

    <main>
        <h1>COFFEE</h1>
        <p>Coffee in Portugal</p>

        <p>
            Coffee culture is ingrained in the everyday life, culture and history of Portugal. The Portuguese were crucial actors in expanding the coffee industry into what it is today with Portuguese colonists introducing the coffee plant to Brazil. 
            There isn’t space here to explore the rich history of Portuguese coffee culture, but I will write about this more at some point soon.
        </p>

        <p>
            Drinking coffee in Portugal is an everyday part of life, with cafés found almost on every street, and espresso being the most common drink.  
            Coffee is significantly cheaper to drink out of the home, than it is in the UK. An espresso wouldn’t usually cost you more than €1 and in most cases is closer to €0.50. 
            If you ask for a coffee (um café) an espresso is what you’d be served, although there are regional variations for different coffees too. If you were in Porto and wanted an espresso you’d order um cimbalino (named after the La Cimbali espresso machines), while in Lisbon you’d order um bica.
            They have a range of coffees with milk in too – I often have um pingo (an espresso with a dash of milk) or uma meia de leite (around half coffee/half milk – the closest thing I’ve had to a latte). There are actually a wide range of variations of the espresso based drink, some of which are explored on the Salt of Portugal and Emma’s House in Portugal blogs.
        </p>

        <p>
            Cafés in Portugal are literally everywhere, not just in your retail centres but spread throughout the neighbourhoods too, even in the most remote places. 
            Often cafés will have a branding for the coffee they serve somewhere on the outside such as Delta, Nicola, Sical, Buondi, or Café  Brasileira. These types of traditional Portuguese cafés often have a range of baked goods served there as well. My favourite café in Portugal is just a small café at the base of a block of flats in a residential area. 
            Actually, I don’t really go there for the coffee, I go there for the croissants, freshly baked – one thing you’ll notice in Portuguese cafés is that the range of cakes and pastries usually makes the options from Costa/Starbucks look pathetic (it’s not just about pastel de nata in Portugal)!
        </p>

        <img src="/images/cup-of-coffee.jpg" alt="cup of coffee and coffee beans">
    </main>
</body>
</html>