<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./gallery">Gallery</a></li>
        </ul>
    </nav>

    <main>
        <h1>COFFEE</h1>
        <h2>
            Why coffee could be good for your health
        </h2>
        <p>
            In the past, coffee was associated with increased health risks. But research from the last decade finds that drinking coffee may actually benefit your health.

            Caffeine is the most popular psychoactive drug in the world. Humans have been drinking coffee, a natural source of caffeine, for centuries, but there have been mixed messages around its effect on human health for decades.

            “Traditionally, coffee has been seen as a bad thing,” says Marc Gunter, head of the section of nutrition and metabolism at the International Agency for Research on Cancer (IARC). “Research from the 1980s and 90s concluded that people who drank coffee had a higher risk of cardiovascular disease – but it’s evolved since then.”

            With more, larger-scale population studies emerging over the last decade, Gunter says, scientists now have data from hundreds of thousands of coffee-drinkers. But what does the research tell us – and is coffee consumption providing health benefits, or risks?

            Coffee has been associated with an increased risk of cancer because it contains acrylamide, a carcinogenic substance found in foods including toast, cakes and chips. However, the IARC concluded in 2016 that coffee is not carcinogenic, unless it’s drunk very hot – above 65C (149F).

            Not only that, but more research has found that coffee may actually have a protective effect. Some studies have shown an association between coffee drinking and lower severity, and recurrence, of colon cancer in patients, for example.

            In 2017, Gunter published the results of a study that looked at the coffee-drinking habits of half a million people across Europe over a period of 16 years. Those who drank more coffee had a lower risk of dying from heart disease, stroke and cancer. These findings are consistent with research from other parts of the world, including the US.

            Gunter says there’s enough consensus across observational studies to confirm that people who drink up to four cups of coffee a day have fewer diseases compared to those who don’t drink any.

            The potential benefit of coffee could go further. Coffee-drinkers in Gunter’s study were more likely to smoke and had unhealthier diets than non-coffee drinkers. This would suggest that if coffee does lower the risk of heart disease and cancer, it might be more powerful than we think – it’s overriding the effects of unhealthy behaviours.

            That’s true whether it’s a cup of decaffeinated or caffeinated coffee. Decaf coffee has similar amounts of antioxidants as normal coffee, research has found. Gunter didn’t find differences between the health of people who drank caffeinated versus decaf, which led him to conclude that the health benefits associated with coffee are due to something other than caffeine.
        </p>

        <h2>
            Cause and effect
        </h2>

        <p>
            However, all of this research was based on population data – which doesn’t confirm cause and effect.
        </p>
        
        <p>
            People who consume coffee may simply have better underlying health than people who choose not to, says Peter Rogers, who studies the effects of caffeine on behaviour, mood, alertness and attention at the University of Bristol. That's in spite of their unhealthier lifestyle habits, as found in Gunter’s research.

            “Some people suggested there might be protective effect, which is somewhat controversial as it’s based on population evidence,” he says.

            Meanwhile, people who consume coffee regularly often have higher blood pressure, which should increase the risk of cardiovascular disease. But, Rogers says, there isn’t evidence that higher blood pressure from drinking coffee is associated with higher risk of cardiovascular disease.

            People who consume coffee regularly often have higher blood pressure – but it doesn’t seem to increase their risk of cardiovascular disease (Credit: Getty Images)
            People who consume coffee regularly often have higher blood pressure – but it doesn’t seem to increase their risk of cardiovascular disease (Credit: Getty Images)

            Clinical trials looking into coffee – which could better determine its benefits and risks – are rarer than population studies. But a group of researchers recently conducted a trial in which they observed the effects of drinking caffeinated coffee on blood sugar.

            The small study, conducted by the Centre for Nutrition Exercise and Metabolism at England’s University of Bath, looked at how coffee affects the body’s response to breakfast after a fragmented night’s sleep. They found that participants who drank coffee, followed by a sugary drink that stood in for breakfast, had a 50% increase in blood sugar, compared to when they didn’t consume coffee before ‘breakfast’.

            Still, this kind of behaviour would have to happen repeatedly over time for the risk to accumulate.

            Putting people into lab settings also brings up the question of how relevant the findings are to real life – indicating that neither population, or lab research can provide definitive answers on how coffee affects our health.
        </p>


        <h2>Coffee and miscarriage</h2>

        <p>
            Advice on caffeinated coffee consumption is particularly confusing in pregnancy. Esther Myers, chief executive of EF Myers Consulting, carried out a review of 380 studies and concluded that four cups of coffee per day for adults, and three for pregnant women, shouldn’t lead to any adverse effects.

            However, the Food Standard Agency advises pregnant and breastfeeding women not to have more than one to two cups of coffee per day. This year, a review of previous studies concluded that pregnant women should cut out coffee entirely to reduce the risk of miscarriage, low birth weight and stillbirth.
    
            Emily Oster, economist and author of the book Expecting Better, which explores the data behind around pregnancy recommendations, also found guidance around coffee to be inconsistent.
    
            “The big concern is the possibility that caffeine consumption is linked to miscarriage, especially in the first three months,” she says.
    
            But, she says, there isn’t much randomised data on this, and drawing conclusions from observational data isn’t reliable.
    
            “Women who drink coffee in pregnancy are likely to be older and are more likely to smoke. We know age and tobacco consumption are causally linked to higher rates of miscarriage,” she says.
    
            “The second issue is that women who are nauseous in early pregnancy are less likely to miscarry. These women also avoid coffee – it’s the kind of thing that bothers you if you’re already feeling sick – so a lot of women who are nauseous and aren’t consuming coffee are less likely to miscarry.”
    
            Two to four cups of coffee a day, Oster says, don’t seem to be related to an increased risk of miscarriage.
    
        </p>
        
        <h2>Caffeine jitters</h2>

        <p>
            Aside from coffee’s potential effects on heart health, cancer and miscarriage, there is how it influences the brain and nervous system. Caffeine is a psychoactive drug, which means it affects our cognition.

            Within the general population, some people can drink caffeinated coffee all day long, while others become anxious after one cup. Studies have found that differences in our genes can affect how differently two people metabolise caffeine. But, Myers says, “we don’t understand why one person is perfectly fine with a level of caffeine and another person is not”.
    
            For regular drinkers, meanwhile, there’s bad news for those who drink coffee for a boost in concentration.
    
            Consuming coffee produces no net benefit to our ability to work efficiently because we become tolerant to that effect – Peter Rogers
            “As the body gets used to receiving caffeine on a daily basis, there are physiological changes that adapt the body to live with caffeine and maintain normal function,” says Rogers. “Consuming coffee produces no net benefit to our ability to work efficiently because we become tolerant to that effect, but as long as you keep consuming it, you’re probably not worse off.”
    
            The only people who stand to use caffeine to their advantage, he says, are those who don’t drink it regularly.
    
            At the other end of the spectrum, many people joke about being addicted to coffee. But in most cases, they’re just dependent, says Rogers.
    
            “There’s low risk of addiction to caffeine – if you take it away from someone, they don’t feel great but they’re not strongly craving it,” he says.
    
            Coffee, he says, demonstrates the difference between addiction, where there is a compulsion to get the drug, and dependence, where the user’s cognitive performance is impaired, but they don’t go to lengths to get it.
    
            The only thing coffee-drinkers need to be aware of, he says, is withdrawal. “Anyone who drinks a few cups of coffee a day is dependent on caffeine. If you took their coffee away, they’d be tired and would maybe have a headache,” Rogers says.
    
            These symptoms depend on how much coffee the person was drinking, but they usually last between three days and a week, he says – in which time, caffeine is the only thing that will alleviate them.
        </p>
        
        <h2>Kinds of coffee</h2>

        <p>
            The way you brew your coffee – whether lovingly crafting it from bean to cup or throwing some instant powder into a mug – doesn’t seem to change the association with better health. By studying people across Europe, Gunter found that various types of coffee still were associated with health benefits.

            “People drank a smaller espresso in Italy and Spain; in northern Europe, people drank larger volumes coffee and more instant coffee,” says Gunter. “We looked at different types coffee and saw consistent results across counties, which suggests it’s not about types of coffee but coffee-drinking per se.”
    
            Still, researchers from a 2018 study found that the relationship between coffee and lifespan were stronger for ground coffee than for instant or decaf – although these were still found to be healthier than not drinking any coffee at all. The discrepancy, the paper states, could be because instant coffees have lower amounts of bioactive compounds, including polyphenols, which are known for their anti-inflammatory properties.
    
            While it may not help you through a busy day at work, Gunter says the available, up-to-date evidence suggests that drinking up to four cups of coffee a day could have health benefits, including lower risk of heart disease and cancer.
    
            “It’s common sense that if you drink too much of anything it’s probably not good for you, but there’s no strong evidence that drinking a few cups a day is bad for health,” he says. “If anything, it’s the opposite.”
        </p>
    </main>
</body>
</html>